<div class="panel small-7 small-offset-3">
  <div class="meetup" id="<%= meetup.id %>">
    <div class="small-3 columns">
      <%= meetup.title %>
    </div>
    <div class="small-3 columns end">
      <%= meetup.description %>
    </div>
  </div>
</div>
