
<!-- <div class="panel"> -->
  <div class="meetup row" id="<%= meetup.id %>" data-equalizer>



      <div class="small-5 columns lefty text-center" data-equalizer>
        <p><%= meetup.title %></p>
        <p><%= meetup.user.email %></p>
      </div>

      <div class="small-6 columns righty text-center" data-equalizer>
        <%= meetup.description %>
      </div>



  </div>
<!-- </div> -->
