<div class="panel" id="<%= meetup.id %>">
  <div class="row centered">
    <div class="large-5 centered columns">
      <%= meetup.title %>
    </div>
    <div class="large-7 centered colums">
      <%= meetup.description %>
    </div>
  </div>
</div>
