<script>
  var addresses = <%= raw @addresses.to_json %>
</script>
<div class="row">
  <h1 class="text-center title">Lunch Academy</h1>
</div>

<div id="meetups">
  <%= render @meetups %>
</div>


<%= paginate @meetups, remote: true %>
