/*.meetup {
  overflow:hidden;
}*/

.lefty {
  background-color: rgba(40, 0, 0, 0.3);;
  margin-left: 5%;
  margin-right: -250px;
  padding-right: -250px;
  margin-bottom: 10px;
}

.righty {
  background-color: rgba(0, 0, 0, 0.3);
  margin-right: 5%;
  margin-bottom: 10px;
  margin-left: 5%;
}

@media only screen and (max-width: 320px) {

   body { font-size: 12pt; width:100%; }
   .meetup div { height: 200px; }

}

.meetup div {
  height: 300px;
  overflow:auto;
}

body h1 {
  font-family: sans-serif;
}
