#f2Container {
  height: 100%;
}

/*.pac-container {
  position: inherit;
  -webkit-transform: skew(-30deg,0deg) scale(1.0,0.864);
  -moz-transform: skew(-30deg,0deg) scale(1.0,0.864);
}*/

/*THIS BREAKS EVERYTHING
/*html {
  overflow-x: hidden;
}*/

.cubeButton {
  width: 100%;
  margin-bottom: 0;
}

.face .cubeInput {
  margin:0px;
  resize: none;
}



.thaCover {
  background-color: #32DBD3;
  height: 198px;
  width: 198px;
}

#f3Cover {
  background-color: #3287DA;
}

.thaCover h3 {
  position:relative;
  top: 50%;
	transform: translateY(-50%);
}

.attending hr {
  margin-top: 5px;
}

#f2Cover {
  background-color:#C61EEA;
}

#f1Cover {
  background-color: #F4FA11;
}

.map {
  height:100px;
  width:200px;
  z-index: 0;
}

.lefty p {
  margin: 0px;
}

.lefty {
  padding-top:20px;
  background-color: white;;
  margin-left: 4%;
  margin-right: -250px;
  padding-right: -250px;
  margin-bottom: 10px;
  width: 42%;
  border-right: solid;
  border-top-left-radius: 5px;
  box-shadow: 10px 10px 5px #444444;
  background-color: rgb(244, 244, 244);
}

.lefty * {
  margin-bottom: 5%;
}

.righty {
  padding-top:10px;
  padding-right: 2px;
  background-color: white;
  margin-right: 4%;
  margin-bottom: 10px;
  margin-left: 4%;
  border-top-right-radius: 5px;
  box-shadow: 10px 10px 5px #444444;
  background-color: rgb(244, 244, 244);
}

.meetup {
  margin-bottom: 1%;
}

.attending ul {
  margin-bottom: 0;
}

.desc ul {
  list-style-type: none;
}

@media only screen and (max-width: 320px) {

   body { font-size: 12pt; width:100%; overflow-x: hidden; }
   html { width:100%; overflow-x: hidden; height: 100% }
   .face {
       position:absolute;
       width:100px;
       height:100px;
       border:1px solid white;
       overflow: hidden;
   }
}

.meetup .righty,.lefty {
  height: 351px;
}

.meetupDesc {
  border: inset;
  margin-top: 5px;
  word-wrap: break-word;
}

.meetup .desc {
  overflow:auto;
}

.title {
  margin-top: 75px;
  margin-bottom:25px;
  font-family: Courier;
  font-size: 60pt;
}

body h1 {
  font-family: sans-serif;
}

.commentColor1 {
  padding: 10px;
  background-color: #B2D4D4;
  word-wrap: break-word;
  font-size: 5px;
  border: outset;
  color: black;
}

.commentColor1 a {
  color: black;
}

.attendee {
  display: inline;
}


.commentText {
  font-size: 12px;
}

.commentColor2 {
  padding: 10px;
  background-color: #CDEEEE;
  font-size: 5px;
  word-wrap: break-word;
  border: outset;
  color: black;
}

.commentColor2 p {
  color: black;
}

.textureBorder {
  border: inset;
  resize: none;
}

.commentText {
  color: grey
}

/*#map {
  height:100px;
  width:386px;
}*/

.meetup .commentForm {
  height:50px;
  margin-bottom: 50px;
}


.commentDelete {
  background-color: #a0d3e8;
  text-decoration: none;
}



/*BEGIN ZOOMOOZ STYLING*/
#cubeContainer {
	background-color:white;
	margin:0;
  padding:0;
  width:100%;
  height:70%;
  background-color: rgb(221, 216, 216);
  /*background-image: url(Boston_skyline_at_earlymorning.jpg);*/
  border-bottom: solid;
  border-width: 10px;
  border-color: #142952;
}



.face {
    position:absolute;
    width:200px;
    height:200px;
    border:1px solid white;
    overflow: hidden;
}

.box {
    float:left;
    width:90px;
    height:90px;
    padding:2px;
    overflow:hidden;
    font-size:8px;
    margin:3px;
}



.cover:hover, .box:hover {
	 cursor:pointer;
}

#f1 .box {
    background-color:#bbb;
}

#f2 .box {
    background-color:#eee;
}

#f3 .box {
    background-color:#fff;
}

.noScroll {
  overflow:hidden;
}

#cube {
    position:relative;
    left:50%;
    top:50%;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
}

#f1 {
    -webkit-transform: skew(-30deg,0deg) scale(1.0,0.864);
    -moz-transform: skew(-30deg,0deg) scale(1.0,0.864);
    background-color:#999;
}

#f2 {
    -webkit-transform: rotate(120deg) skew(-30deg,0deg) scale(1.0,0.864);
    -moz-transform: rotate(120deg) skew(-30deg,0deg) scale(1.0,0.864);
    background-color:#ccc;
}

#f3 {
    -webkit-transform: rotate(240deg) skew(-30deg,0deg) scale(1.0,0.864);
    -moz-transform: rotate(240deg) skew(-30deg,0deg) scale(1.0,0.864);
    background-color:#eee;
}

.cover {
    position:absolute;
    width:100%;
    height:100%;
    z-index:+1;
}

.facecontent {
    position:absolute;
    width:200px;
    height:200px;
    left:0;
    top:0;
    z-index:-1;
}

body {
  width:100%;
  overflow-x: hidden;
  background-color: #3287DA;
}

.face a {
  font-size: 8pt;
}

#signOut {
  position:relative;
  left:50%;
  top:50%;
}

.signInFlash {
  font-size: 8pt;
  color:white;
  background-color: red;
}

.joinLink {
  margin-bottom: 13px;
  height:20px;
}

.joinLink .button {
  display: inline;
}
